@font-face {
    font-family: 'icomoon';
    src:url('library/fonts/icomoon.eot?9yfu6m');
    src:url('library/fonts/icomoon.eot?9yfu6m#iefix') format('embedded-opentype'),
        url('library/fonts/icomoon.ttf?9yfu6m') format('truetype'),
        url('library/fonts/icomoon.woff?9yfu6m') format('woff'),
        url('library/fonts/icomoon.svg?9yfu6m#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
    content: "\e900";
}

.icon-twitter:before {
    content: "\e901";
}

.icon-linkedin:before {
    content: "\e902";
}

.icon-github:before {
    content: "\e903";
}

.icon-instagram:before {
    content: "\e904";
}

.icon-medium:before {
    content: "\e905";
}