body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
    outline: none;
}

.layout-wrapper {
    min-height: 100%;
    position: relative;
}

.layout-content {
    padding-top: 4rem;
    padding-bottom: calc(2rem + 100px);
}

.layout-wide {
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
}

.layout-copy {
    max-width: 860px;
    padding: 0 40px;
    margin: 0 auto;
}

.layout-section {
    margin-bottom: 6rem;
}

.layout-header {
    border-top: $border;
    width: 100%;
    position: relative;
    text-align: center;
    height: 46px;
        h2 {
            font-size: 16px;
            color: $color-light;
            font-weight: normal;
            margin: 0;
            padding: 0 25px 0 28px;
            top: -14px;
            position: relative;
            background: white;
            display: inline-block;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
}