body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
    outline: none;
}

.layout-wrapper {
    min-height: 100%;
    position: relative;
}

.layout-content {
    padding-top: 2.5rem;
    padding-bottom: calc(2rem + 100px);
}

.layout-wide {
    max-width: 1180px;
    padding: 0 20px;
    margin: 0 auto;
}

.layout-copy {
    max-width: 860px;
    padding: 0 40px;
    margin: 0 auto;
}

.layout-section {
    margin-bottom: 5rem;
    &:last-child {
        margin-bottom: 2.5rem;
    }
}

.layout-header {
    border-top: $border;
    width: 100%;
    position: relative;
    text-align: center;
    height: 46px;
        h2 {
            @include font-size(15);
            color: lighten($color-light, 5);
            font-weight: normal;
            margin: 0;
            padding: 0 15px 0 20px;
            top: -14px;
            position: relative;
            background: white;
            display: inline-block;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
}

@media (max-width: 690px) {

    .layout-content {
        padding-bottom: 0;
    }

}

@media (max-width: 440px) {

    .layout-section {
        margin-bottom: 3rem;
        &:last-child {
            margin-bottom: 1rem;
        }
    }

    .layout-header {
        height: 26px;
    }

    .layout-copy {
        padding: 0 20px;
    }

}