// GLOBAL VARIABLES

$transition: 0.13s ease;
$border: 1px solid #F1F1F1;

$color-anchor: #2D78C3;
$color-anchor-solid: #6090C1;
$color-header: #191919;
$color-text: #313131;
$color-mid: #808080;
$color-light: #AFAFAE;

$footer-height: 100px;

$breakpoint-mobile: 440px;