.block-preview li:last-child {
    display: none;
}

.block-item {
    //position: relative;
    a {
        display: block;
        position: relative;
        &:hover .block-background {
            opacity: 1;
        }
    }
}

.block-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: rgba(255, 255, 255, 0.87);
    transition: opacity $transition;
}

.block-info {
    @include middle();
    text-align: center;
    width: 100%;
    padding: 0 1rem;
    color: $color-text;
}