.feed-item {
    margin-bottom: 3rem;
}

h2.feed-title {
    @include font-size(27);
    letter-spacing: 0.4px;
}

p.feed-excerpt {
    margin-bottom: 0.75rem;
}

.feed-meta {
    @include font-size(16);
    color: $color-light;
    li {
        float: left;
        margin-right: 13px;
        border-right: 1px solid #ededed;
        padding-right: 13px;
        line-height: 15px;
        list-style-type: none;
        letter-spacing: 0.3px;
        &:last-child {
            margin-right: 0;
            border-right: none;
            padding-right: 0;
        }
        a {
            color: $color-light;
            position: relative;
            &:hover, &:hover i {
                color: $color-anchor;
            }
            i {
                position: absolute;
                right: -18px;
                top: 1px;
                @include font-size(12);
                color: lighten($color-light, 5);
                transition: color $transition;
            }
        }
    }
}

@media (max-width: $breakpoint-mobile) {

    .feed-meta {
        @include font-size(13);
        li {
            float: left;
            margin-right: 7px;
            padding-right: 7px;
            line-height: 15px;
            letter-spacing: 0;
            a i {
                right: -14px;
                @include font-size(10);
            }
        }
    }

}