.feed-item {
    margin-bottom: 3rem;
}

.feed-title {
    margin-bottom: 1rem;
    line-height: 1.3;
    a {
        color: $color-header;
    }
}

h1.feed-title {
    @include font-size(33);
    letter-spacing: 0.7px;
}

h2.feed-title {
    @include font-size(27);
    letter-spacing: 0.4px;
}

.feed-meta {
    @include font-size(16);
    color: $color-light;
    li {
        float: left;
        margin-right: 13px;
        border-right: 1px solid #ededed;
        padding-right: 13px;
        line-height: 15px;
        list-style-type: none;
        &:last-child {
            margin-right: 0;
            border-right: none;
            padding-right: 0;
        }
        a {
            color: $color-light;
        }
    }
}