$twitter-height: 20px;
$icon-height: 52px;

.footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    border-top: $border;
    height: $footer-height;
    line-height: $footer-height;
}

.footer-social {
    float: right;
    li {
        float: left;
        margin-left: 1.5rem;
        @include font-size(33);
        height: $footer-height;
        line-height: 104px;
        &:first-child {
            margin-left: 0;
        }
        a {
            i {
                color: lighten($color-light, 12);
                @include transition ($transition);
            }
            &.twitter:hover i {
                color: #00b6f1;
            }
            &.linkedin:hover i {
                color: #0977b5;
            }
            &.github:hover i {
                color: #171516;
            }
            &.instagram:hover i {
                color: #833ab4;
            }
            &.medium:hover i {
                color: #02b875;
            }
        }
    }
}

.footer-legal {
    float: left;
    @include middle();
}

.footer-twitter {
    margin-bottom: 0.75rem;
    height: $twitter-height;
    line-height: $twitter-height;
}

.footer-copyright {
    line-height: 1.5;
    color: $color-light;
    letter-spacing: 0.5px;
    @include font-size(12);
}

@media (max-width: 440px) {

    .footer {
        bottom: 0;
        width: 100%;
        position: inherit;
        height: inherit;
        line-height: inherit;
        padding: 1.5rem 0;
        li:first-child {
            margin-left: 0;
        }
        li:last-child {
            margin-right: 0;
        }
    }

    .footer-social {
        float: none;
        text-align: center;
        margin-bottom: 1rem;
        li {
            float: none;
            @include font-size(33);
            height: inherit;
            line-height: 1;
            display: inline-block;
            margin: 0 0.5rem;
        }
    }

    .footer-legal {
        float: none;
        text-align: center;
        top: inherit;
        position: inherit;
        transform: inherit;
    }

}