.hero {
    padding: 3rem 0 0 0;
}

.hero-title {
    @include font-size(60);
    text-transform: capitalize;
    text-align: center;
    line-height: 1.3;
}

@media (max-width: 440px) {

    .hero-title {
        @include font-size(26);
    }

}