.nav {
    float: right;
}

.nav-list li {
    float: left;
    margin-left: 3rem;
    letter-spacing: 1px;
    //@include font-bold();
    @include font-size(17);
    &:first-child {
        margin-left: 0;
    }
    a {
        color: $color-header;
        &:hover {
            color: $color-anchor;
        }
    }
}