.portfolio-showcase {
    float: left;
    width: 54.166666666667%;
}

.portfolio-images li {
    margin-bottom: 1rem;
}

h1.portfolio-title {
    @include font-size(39);
    letter-spacing: 0.7px;
    line-height: 1;
    margin-bottom: 2rem;
    a {
        color: $color-header;
    }
}

.portfolio-copy {
    float: right;
    width: 41.666666666667%;
}

.portfolio-meta {
    color: $color-mid;
    @include font-size(15);
    margin-bottom: 2rem;
    line-height: 1.8;
    span {
        color: $color-text;
    }
}

.portfolio-description {
    margin-bottom: 2rem;
}

@media (max-width: 440px) {

    .portfolio-showcase,
    .portfolio-copy {
        float: none;
        width: 100%;
    }

    h1.portfolio-title {
        @include font-size(27);
        margin-bottom: 1rem;
    }


}