.title-medium {
    @include font-size(25);
    margin-bottom: 0.5rem;
    letter-spacing: 0.6px;
    &.title-medium--clean {
        margin-bottom: 0;
    }
}

.title-medium a {
    color: $color-header;
    &:hover {
        color: $color-anchor;
    }
}